<html>
    <head>
        <link rel="stylesheet" href="/static/app.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <h1>Destination Travel Chat: Read All About Us!</h1>
        <p>
        <br><span style="text-decoration: underline;">WHO ARE WE?</span>
        <font color="#e5a56f"><strong>
            <ul>
                <li>Joy Elias - Computer Science Senior at Morgan State University
                <br><em>Fun fact:</em></li>
                <br><em>Fun fact: I've traveled to Mexico 4 times.</em></li>

                <br><li>Morgan Whitaker - Computer Science Senior at Morgan State University
                <br><em>Fun fact: I am ambidextrous. </em>        
                </li>

                <br><li>Joshua Smith - Computer Science Senior at Morgan State University
                <br><em>Fun fact: I am left-handed.</em></li></strong></font>                
            </ul>

        <br>
        <span style="text-decoration: underline;">WHAT HAVE WE MADE? WHAT DOES IT EVEN DO?</span>
        <br><ul><font color="#e5a56f"><strong><li>We have made a real-time chat app accessible 
        from the browser. The chat app <br>features an international chatbot which enables users to do tasks like: 
        find local <br>airports to various countries, provide users with up to date travel advice, and <br>provide
        recommended songs for the selected destination</li></strong></font></ul>
        
        <br><span style="text-decoration: underline;">HOW DID WE MAKE IT? (Technologies Included)</span>
        <br><ul><font color="blue"><strong><li> To create this chat app, we utilized AWS Cloud9 as environment to test and create <br>our code.
        We used Flask for the backend of our site and React/JS for the front-end, <br>tied in with SocketIO. To expand on the features of our application
        we pulled in <br>multiple APIs: Genius Music, Currency Converter-5, My Memory API, Cometari <br>Airport Finder, Reisewarnung API, and Trail API. These
        APIs allowed us to access <br>music, airport names, travel advisories, currency conversions, activities and more. <br>We stored our code on a 
        group repository on Github. </li></strong></font></ul>
        
        <br><span style="text-decoration: underline;">WHY DOES IT MATTER?</span>
        <br><ul><font color="blue"><strong><li>As Computer Science students heading into industry in the coming months, it was <br>important that we
        understood all that need to go into creating a complex application. <br>When creating a project, it is important to know who and what you are
        are making <br>it for to make sure that all possible needs and wants are taken care of. Creating this <br>chat app, with a theme focused on travel,
        helped us learn how to manuever around <br>the "wants" of the customer and to put out a product that worked and would make <br>people happy. Using this
        travel theme allowed us to think about what people would <br>actually want to see in an application and what features needed to to create a great <br>app. 
        This project helped us experience a lot of what we will be experiencing as we <br>enter into industry. </li></strong></font></ul>
        
        <br><font color="blue"><strong> To create this chat app, we utilized AWS Cloud9 as environment to test and create out code.
        We used Flask for the backend of our site and React/JS for the front-end, tied in with SocketIO. To expand on the features of our application
        we pulled in multiple APIs: Genius Music, Currency Converter-5, My Memory API, Cometari Airport Finder, Reisewarnung API, and Trail API. These
        APIs allowed us to access music, airport names, travel advisories, currency conversions, activities and more. We stored our code on a 
        group repository on Github. </strong></font>
        
        <span style="text-decoration: underline;">WHY DOES IT MATTER?</span>
        <br><font color="blue"><strong>As Computer Science students heading into industry in the coming months, it was important that we
        understood all that need to go into creating a complex application. When creating a project, it is important to know who and what you are
        are making it for to make sure that all possible needs and wants are taken care of. Creating this chat app, with a theme focused on travel,
        helped us learn how to manuever around the "wants" of the customer and to put out a product that worked and would make people happy. Using this
        travel theme allowed us to think about what people would actually want to see in an application and what features needed to to create a great app. 
        This project helped us experience a lot of what we will be experiencing as we enter into industry. </strong></font>
        <span style="text-decoration: underline;">WHERE CAN YOU GO TO CHECK THIS OUT?</span>●
        <br>
        <br><span style="text-decoration: underline;">WHAT WAS THE MOTIVATION?</span>
        <br>
        <ul><font color="blue"><strong><li>We wanted to demonstrate and apply the core concepts used in our COSC 458 course 
        by <br>exploring the potential capabilities of a complex chatbot, within an international communication <br>app.</li></strong></font></ul>
        
        <br><span style="text-decoration: underline;">WHERE CAN YOU GO TO CHECK THIS OUT?</span>
        <ul>
            <li><strong><font color="black">It's all right here -> <a href="http://frozen-crag-41604.herokuapp.com/">Click me!</a></strong></font></li>
        </ul>
        </p>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>

