<html>
    <head>
        <link rel="stylesheet" href="/static/app.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <h1>Destination Travel Chat: Read All About Us!</h1>
        <p>
        <span style="text-decoration: underline;">WHO ARE WE?</span>
        <font color="#e5a56f"><strong>
            <ul>
                <li>Joy Elias - Computer Science Senior at Morgan State University
                <br><em>Fun fact:</em></li>

                <br><li>Morgan Whitaker - Computer Science Senior at Morgan State University
                <br><em>Fun fact: </em>        
                </li>

                <br><li>Joshua Smith - Computer Science Senior at Morgan State University
                <br><em>Fun fact: I am left-handed.</em></li>

        </strong></font>                
            </ul>

        <br>
        <span style="text-decoration: underline;">WHAT HAVE WE MADE? WHAT DOES IT EVEN DO?</span>
        <br><ul><font color="#e5a56f"><strong><li>We have made a real-time chat app accessible 
        from the browser. The chat app <br>will provide a social login to allow users to easily 
        identify themselves, and feature <br>an international chatbot with a friendly attitude, 
        which enables users to do tasks like <br>book flights and hotels. </li></strong></font></ul>
        
        <br><span style="text-decoration: underline;">HOW DID WE MAKE IT? (Technologies Included)</span>
        <br>
        <br><span style="text-decoration: underline;">WHAT WAS THE MOTIVATION?</span>
        <br>
        <ul><font color="blue"><strong><li>We wanted to demonstrate and apply the core concepts used in our COSC 458 course 
        by <br>exploring the potential capabilities of a complex chatbot, within an 
        international communication <br>app.</li></strong></font></ul>
        <br><br><span style="text-decoration: underline;">WHY DOES IT MATTER?</span>
        <br>
        <br><span style="text-decoration: underline;">WHERE CAN YOU GO TO CHECK THIS OUT?</span>
        <ul>
            <li><strong><font color="black">It's all right here -> <a href="http://frozen-crag-41604.herokuapp.com/">Click me!</a></strong></font></li>
        </ul>
        </p>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>

